In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"

df = pd.read_csv(url)

In [3]:
df.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [9]:
df.shape

(29523, 11)

In [17]:
# Finding out the average fuel cost per unit burned for each type of fuel

df.groupby("fuel_type_code_pudl")['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [23]:
# Finding out the standard deviation and 75th percentile of the measure of energy per unit (fuel_mmbtu_per_unit) in two decimal places

print(round(np.std(df["fuel_mmbtu_per_unit"]), 2))  # standard deviation using builtin-function std() of numpy, rounding to two decimal places using the builtin function round()

print(round(np.percentile(df["fuel_mmbtu_per_unit"], 75), 2))  # 75th percentile using the builtin function percentile() of numpy, rounding to two decimal places using the builtin function round()

10.6
17.01

In [32]:
# Skewness and kurtosis of fuel quantity burned (fuel_qty_burned) in two decimal places

from scipy.stats import skew, kurtosis

print(round(skew(df['fuel_qty_burned']), 2))
print(round(kurtosis(df['fuel_qty_burned']), 2))

15.85
651.26

In [33]:
# Checking for missing values
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [38]:
# fuel_unit has missing values. Number of missing values = 180
# Calculating percentage of missing values as a factor of total number of rows in three decimal places

percentage = (df['fuel_unit'].isnull().sum()/df.shape[0])*100
print(round(percentage, 3), "% of the values are missing in the fuel_unit column")

0.61 % of the values are missing in the fuel_unit column

In [40]:
# Finding the correlation between the variables using the corr() method
df.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [51]:
# Average fuel cost per unit burned for fuel type coal from the years 1994 to 2018

df.loc[df['fuel_type_code_pudl'] == 'coal'].groupby('report_year')['fuel_cost_per_unit_burned'].mean()

report_year
1994     31.546467
1995     30.677442
1996     29.454299
1997    104.897309
1998     27.616234
1999     38.361101
2000    249.203055
2001     41.622623
2002     27.623988
2003     94.085441
2004     29.913239
2005     34.281426
2006     37.928697
2007     39.288397
2008     44.507292
2009    142.805197
2010    280.467547
2011     52.634721
2012     53.657789
2013     55.093312
2014     52.244736
2015     49.769534
2016     46.447385
2017     45.983336
2018     44.967758
Name: fuel_cost_per_unit_burned, dtype: float64

In [59]:
# To find out which year has the highest average fuel cost per unit delivered

df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [58]:
df.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64